<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>商品列表 - Powered By SHOP++</title>
    <meta name="author" content="SHOP++ Team" />
    <meta name="copyright" content="SHOP++" />
    <link href="../../resources/business/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../resources/business/js/jquery.js"></script>
    <script type="text/javascript" src="../../resources/business/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/vue.min.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/pager.js"></script>
</head>
<body>
    <div class="breadcrumb">
        <a href="../../admin/common/index">首页</a>
    </div>
    <div class="box-body">
        <div class="table-box" id="content_grid">
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default" title="新建" data-toggle="modal" data-target="#editModal" ><i class="fa fa-file-o"></i> 新建</button>
                        <button onclick="delProduct()" type="button" class="btn btn-default" title="删除"><i class="fa fa-trash-o"></i> 删除</button>
                        <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                    </div>
                </div>
            </div>
            <div class="box-tools pull-right">
                <div class="has-feedback">
                </div>
            </div>
            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                <thead>
                <tr>
                    <th class="" style="padding-right:0px">
                        <input id="selall" type="checkbox" class="icheckbox_square-blue">
                    </th>
                    <th class="sorting_asc">名称</th>
                    <th class="sortingbzj">保证金</th>
                    <th class="sortingpx">排序</th>
                    <th class="sortingnr">内容</th>
                    <th class="text-center">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="entity in contentList">
                    <td><input  type="checkbox" v-bind:value="entity.id"></td>
                    <td>{{entity.name}}</td>
                    <td>{{entity.bail}}</td>
                    <td>{{entity.orders}}</td>
                    <td>{{entity.version}}</td>
                    <td class="text-center">
                        <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal" v-on:click="update(entity.id)">修改</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- 编辑窗口 -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" >
            <div class="modal-content" id="content_add">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="myModalLabel">店铺分类</h3>
                </div>
                <div class="modal-body">

                    <table class="table table-bordered table-striped"  width="800px">
                        <tr>
                            <td>店铺名称</td>
                            <td><input  class="form-control" placeholder="店铺名称" v-model="content.name"id="name">  </td>
                        </tr>
                        <tr>
                            <td>保证金</td>
                            <td><input  class="form-control" placeholder="保证金" v-model="content.bail">  </td>
                        </tr>
                        <tr>
                            <td>排序</td>
                            <td><input  class="form-control" placeholder="排序" v-model="content.orders">  </td>
                        </tr>
                        <td>内容</td>
                        <td><input  class="form-control" placeholder="内容" v-model="content.version">  </td>
                        </tr>
                    </table>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" onclick="savead()">保存</button>
                    <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    var vm;
    $(function () {
        $.ajax({
            type: "post",
            url: "../classify/findclassify.do",
            data: "",
            dataType: "",
            success: function (result) {
                vm = new Vue({
                    el: '#content_grid',
                    data: {
                        contentList: result,

                    }
                })
            },
            error: function () {
                alert("系统错误，请联系管理员！");
            }
        })
    })
    var contentVUE = new Vue({
        el: '#content_add',
        data: {
            content: ""
        }
    })
    function savead() {
        $.ajax({
            type: "post",
            url: "../classify/saveclassify.do",
            data: contentVUE.content,
            dataType:"json",
            success: function (result) {

            },
            error: function () {
                alert("系统错误，请联系管理员！");
            }
        })
    }
</script>

</html>