<%@ page contentType="text/html;charset=UTF-8" language="java" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>添加会员 - Powered By SHOP++</title>
    <meta name="author" content="SHOP++ Team" />
    <meta name="copyright" content="SHOP++" />
    <link href="../../resources/admin/css/common.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../resources/admin/js/jquery.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/jquery.tools.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/jquery.lSelect.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/jquery.validate.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/common.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/input.js"></script>
    <script type="text/javascript" src="../../resources/admin/datePicker/WdatePicker.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/vue.min.js"></script>
    <script type="text/javascript">
        //初始化vue
        addVue=new Vue({
            el:'#inputForm',
            data:{
                member:{
                    username: '',
                    mobile: '',
                    email: '',
                    memberrankId: 1,
                    password: '',
                    rePassword: '',
                    attributevalue0: '',
                    attributevalue1: '',
                    attributevalue2: '',
                    attributevalue3: '',
                    attributevalue7: ''
                }
            },
            methods:{
                submit:function () {
                    this.$http.post('/member/add.do',{
                        member: this.member
                    }
                    )
                        .then((response) => {
                            window.location.href="list.html";
                        },
                            (response) => {
                            alert("添加失败")
                            })
                    }
                }
        });

        $().ready(function() {

            var $inputForm = $("#inputForm");
            var $areaId = $("#areaId");


            // 地区选择
            $areaId.lSelect({
                url: "/shopxxb2b2c-5.0.2-SNAPSHOT/common/area"
            });

            $.validator.addMethod("notAllNumber",
                function(value, element) {
                    return this.optional(element) || /^.*[^\d].*$/.test(value);
                },
                "不允许全部为数字"
            );

            // 表单验证
            $inputForm.validate({
                rules: {
                    username: {
                        required: true,
                        minlength: 4,
                        pattern: /^[0-9a-zA-Z_\u4e00-\u9fa5]+$/,
                        notAllNumber: true,
                        remote: {
                            url: "check_username",
                            cache: false
                        }
                    },
                    password: {
                        required: true,
                        minlength: 4
                    },
                    rePassword: {
                        required: true,
                        equalTo: "#password"
                    },
                    email: {
                        required: true,
                        email: true,
                        remote: {
                            url: "check_email",
                            cache: false
                        }
                    },
                    mobile: {
                        pattern: /^1[3|4|5|7|8]\d{9}$/,
                        remote: {
                            url: "check_mobile",
                            cache: false
                        }
                    }
                    ,memberAttribute_7: {
                        pattern: /^\d{3,4}-?\d{7,9}$/
                    }
                },
                messages: {
                    username: {
                        pattern: "非法字符",
                        remote: "已存在"
                    },
                    email: {
                        remote: "已存在"
                    },
                    mobile: {
                        remote: "已存在"
                    }
                }
            });

        });


    </script>
</head>
<body>
<div class="breadcrumb">
    <a href="/shopxxb2b2c-5.0.2-SNAPSHOT/admin/common/index">首页</a> &raquo; 添加会员
</div>
<form id="inputForm" @submit.prevent="submit($event)">
    <ul id="tab" class="tab">
        <li>
            <input type="button" value="基本信息" />
        </li>
        <li>
            <input type="button" value="个人资料" />
        </li>
    </ul>
    <table class="input tabContent">
        <tr>
            <th>
                <span class="requiredField">*</span>用户名:
            </th>
            <td>
                <input type="text" name="username" class="text" maxlength="20" v-model="member.username"/>
            </td>
        </tr>
        <tr>
            <th>
                <span class="requiredField">*</span>密码:
            </th>
            <td>
                <input type="password" id="password" name="password" class="text" maxlength="20" autocomplete="off" v-model="member.password"/>
            </td>
        </tr>
        <tr>
            <th>
                <span class="requiredField">*</span>确认密码:
            </th>
            <td>
                <input type="password" name="rePassword" class="text" maxlength="20" autocomplete="off" v-model="member.rePassword"/>
            </td>
        </tr>
        <tr>
            <th>
                <span class="requiredField">*</span>E-mail:
            </th>
            <td>
                <input type="text" name="email" class="text" maxlength="200" v-model="member.email"/>
            </td>
        </tr>
        <tr>
            <th>
                手机:
            </th>
            <td>
                <input type="text" name="mobile" class="text" maxlength="200" v-model="member.mobile"/>
            </td>
        </tr>
        <tr>
            <th>
                会员等级:
            </th>
            <td>
                <select name="memberrankId" v-model="member.memberrankId">
                    <option value="4">金牌会员</option>
                    <option value="3">银牌会员</option>
                    <option value="2">铜牌会员</option>
                    <option value="1" selected="selected">普通会员</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                设置:
            </th>
            <td>
                <label>
                    <input type="checkbox" name="isEnabled" value="1" checked="checked" v-model="member.attributevalue0"/>是否启用
                    <input type="hidden" name="_isEnabled" value="0" v-model="member.attributevalue0"/>
                </label>
            </td>
        </tr>
    </table>
    <table class="input tabContent">
        <tr>
            <th>
                姓名:
            </th>
            <td>
                <input type="text" name="memberAttribute_1" class="text" maxlength="200" v-model="member.attributevalue1"/>
            </td>
        </tr>
        <tr>
            <th>
                性别:
            </th>
            <td>
								<span class="fieldSet">
										<label>
											<input type="radio" name="memberAttribute_2" value="0" v-model="member.attributevalue2"/>男
										</label>
										<label>
											<input type="radio" name="memberAttribute_2" value="1" v-model="member.attributevalue2"/>女
										</label>
								</span>
            </td>
        </tr>
        <tr>
            <th>
                出生日期:
            </th>
            <td>
                <input type="text" name="memberAttribute_3" class="text Wdate" onfocus="WdatePicker();" v-model="member.attributevalue3"/>
            </td>
        </tr>
        <tr>
            <th>
                电话:
            </th>
            <td>
                <input type="text" name="memberAttribute_7" class="text" maxlength="200" v-model="member.attributevalue7"/>
            </td>
        </tr>
    </table>
    <table class="input">
        <tr>
            <th>
                &nbsp;
            </th>
            <td>
                <input type="button" class="button" value="确 定" @click="submit()"/>
                <input type="button" class="button" value="返 回" onclick="history.back(); return false;" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>