<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.walmart.mapper.ShippingmethodPaymentmethodMapper" >
  <resultMap id="BaseResultMap" type="com.walmart.pojo.ShippingmethodPaymentmethodKey" >
    <id column="shippingMethods_id" property="shippingmethodsId" jdbcType="BIGINT" />
    <id column="paymentMethods_id" property="paymentmethodsId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    shippingMethods_id, paymentMethods_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.walmart.pojo.ShippingmethodPaymentmethodExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shippingmethod_paymentmethod
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.walmart.pojo.ShippingmethodPaymentmethodKey" >
    delete from shippingmethod_paymentmethod
    where shippingMethods_id = #{shippingmethodsId,jdbcType=BIGINT}
      and paymentMethods_id = #{paymentmethodsId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.walmart.pojo.ShippingmethodPaymentmethodExample" >
    delete from shippingmethod_paymentmethod
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.walmart.pojo.ShippingmethodPaymentmethodKey" >
    insert into shippingmethod_paymentmethod (shippingMethods_id, paymentMethods_id
      )
    values (#{shippingmethodsId,jdbcType=BIGINT}, #{paymentmethodsId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.walmart.pojo.ShippingmethodPaymentmethodKey" >
    insert into shippingmethod_paymentmethod
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="shippingmethodsId != null" >
        shippingMethods_id,
      </if>
      <if test="paymentmethodsId != null" >
        paymentMethods_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="shippingmethodsId != null" >
        #{shippingmethodsId,jdbcType=BIGINT},
      </if>
      <if test="paymentmethodsId != null" >
        #{paymentmethodsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.walmart.pojo.ShippingmethodPaymentmethodExample" resultType="java.lang.Integer" >
    select count(*) from shippingmethod_paymentmethod
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shippingmethod_paymentmethod
    <set >
      <if test="record.shippingmethodsId != null" >
        shippingMethods_id = #{record.shippingmethodsId,jdbcType=BIGINT},
      </if>
      <if test="record.paymentmethodsId != null" >
        paymentMethods_id = #{record.paymentmethodsId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shippingmethod_paymentmethod
    set shippingMethods_id = #{record.shippingmethodsId,jdbcType=BIGINT},
      paymentMethods_id = #{record.paymentmethodsId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
</mapper>