
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>会员等级列表 - Powered By SHOP++</title>
    <meta name="author" content="SHOP++ Team" />
    <meta name="copyright" content="SHOP++" />
    <link href="../../resources/business/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../resources/business/js/jquery.js"></script>
    <script type="text/javascript" src="../../resources/business/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/vue.min.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/pager.js"></script>
    <style type="text/css">
        .glyphicon-remove {
            color: #ff4d5c;
        }
        .glyphicon-ok {
            color: #5be980;
        }
        .glyphicon-refresh {
            color: #5be980;
        }
    </style>
</head>
<body>
<div class="breadcrumb">
    会员等级列表 <span>(共4条记录)</span>
</div>
<div class="box-body">
    <div class="table-box">
        <div class="pull-left" id="content_grid">
            <div class="form-group form-inline">
                <div class="btn-group">
                   <!-- <a href="add.html" class="iconButton">
                        <span class="addIcon">&nbsp;</span>添加
                    </a>-->
<!--
                    <button onclick="addMemberRank()" type="button" class="btn btn-default" title="添加"><i class="fa fa-file-o"></i> 添加</button>
-->
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><span class="glyphicon glyphicon-refresh">&nbsp;</span>刷新</button>
                    <button onclick="deleteProduct()" type="button" class="btn btn-default" title="删除"><span class="glyphicon glyphicon-remove">&nbsp;</span>删除</button>
                    <a href="../../memberrank/exportStockList.do" class="btn btn-default"><span class="glyphicon glyphicon-share-alt">&nbsp;</span>导出</a>
                </div>
                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        名称：<input type="text" id="name" name="name"> <button onclick="searchByPage()" type="button" class="btn btn-default" title="查询"><i class="fa fa-trash-o"></i>查询</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
            </div>
        </div>
        <table id="productList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting">名称</th>
                <th class="sorting">优惠比例</th>
                <th class="sorting">消费金额</th>
                <th class="sorting">是否默认</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="entity in productList">
                <td>
                    <label>
                        <input type="checkbox" value="entity.product.id">
                    </label>
                </td>
                <td>{{entity.name}}</td>
                <td>{{entity.scale}}</td>
                <td>
                   {{entity.amount}}
                </td>
                <td>
                    <span v-if="entity.isdefault == 1" style="color:limegreen"  >是</span>
                    <span v-else style="color:red">否</span>
                </td>
                <td class="text-center">
                    <a @click="updateMemberRank(entity.id)">[编辑]</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="app">
            <div class="container">
                <pagination :total="total" :current.sync="current" @pagechange="pagechange"></pagination>
            </div>
        </div>
    </div>
</div>
<template id="template_paginations">
    <nav>
        <ul class="pagination">
            <li :class="{'disabled': current == 1}"><a href="javascript:searchByPage();" @click="setCurrent(1)"> 首页 </a></li>
            <li :class="{'disabled': current == 1}"><a href="javascript:searchByPage();" @click="setCurrent(current - 1)"> 上一页 </a></li>
            <li >
                <select id="tests" @change="setDisplay()" class="btn btn-default dropdown-toggle">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </li>
            <li v-for="p in grouplist" :class="{'active': current == p.val}"><a href="javascript:searchByPage();" @click="setCurrent(p.val)"> {{ p.text }} </a></li>
            <li :class="{'disabled': current == page}"><a href="javascript:searchByPage();" @click="setCurrent(current + 1)"> 下一页</a></li>
            <li :class="{'disabled': current == page}"><a href="javascript:searchByPage();" @click="setCurrent(page)"> 尾页 </a></li>
        </ul>
        <ul class="pagination pull-right">
            <li><span> 共 {{total}}  条数据 </span></li>
            <li><span> 每页显示 {{display}}  条数据 </span></li>
            <li><span> 共 {{page}} 页 </span></li>
            <li><span > 当前第 {{current}} 页 </span></li>
            <li><span id="current"  name="current" style="display: none">{{current}}</span></li>
            <li><span id="display"  name="display" style="display: none">{{display}}</span></li>
        </ul>
    </nav>
</template>
</body>
<script>
    var productListVue;

    $(function(){
        searchProduct();

    })
    function searchProduct() {
        $.ajax({
            type: "post",
            url: "../../memberrank/searchMemberrank.do",
            data:"",
            dataType: "json",
            success: function (result) {
                console.info(result)
                productListVue = new Vue({
                    el: '#productList',
                    data: {
                        productList: result.rows
                    }
                })
                new Vue({
                    el: '#app',
                    data: {
                        total: result.total,     // 记录总条数
                        display: 5,   // 每页显示条数
                        current: 1     // 当前第n页 ， 也可以 watch current 的变化
                    },
                    methods: {
                        pagechange: function (p) {
                            this.current = p;// 页码改变event ， p 为新的 current
                        }
                    }
                });
            },
            error: function () {
                alert("系统错误，请联系管理员！");
            }
        })
    }

    function searchByPage(page,rows) {
        if(page == null){
            page = document.getElementById("current").innerHTML;
        }
        if(rows == null){
            rows = document.getElementById("display").innerHTML;
        }
        $.ajax({
            type: "post",
            url: "../../memberrank/searchMemberrank.do",
            data:{
                "page":page,
                "rows":rows,
                "name" : $("#name").val()
            },
            dataType: "json",
            success: function (result) {
                productListVue.productList = result.rows;
            },
            error: function () {
                alert("系统错误，请联系管理员！");
            }
        })
    }

    function delProduct() {
        var ids=""
        $("input[name='check']:checked").each(function(){
            ids += ids==""?$(this).val():","+$(this).val();
        })
        alert(ids)
        $.post("../../memberrank/deleteMemberrank.do",{ids:ids},function(data){
            if (data) {
                alert("恭喜您成功删除选中的广告")
                location.reload();
            } else {

                alert("删除失败，请重新操作!")
                location.reload();
            }
        })
    }
    function updateMemberRank(id) {
        location.href="edit.html?id="+id;
    }
    function addMemberRank(){
        location.href="add.html";
    }

    function exportStockList() {
        $.ajax({
            type: "post",
            url: "../../memberrank/exportStockList.do",
            data:{
            },
            dataType: "json",
            success: function () {

            }
        })
    }
</script>
</html>