
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>添加商家注册项 - Powered By SHOP++</title>
    <meta name="author" content="SHOP++ Team" />
    <meta name="copyright" content="SHOP++" />
    <link href="../../resources/admin/css/common.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../resources/admin/js/jquery.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/jquery.validate.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/webuploader.js"></script>
    <script type="text/javascript" src="../../resources/admin/ueditor/ueditor.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/common.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/input.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/vue.min.js"></script>
    <script type="text/javascript">
        $().ready(function() {

            var $inputForm = $("#inputForm");
            var $type = $("#type");
            var $pattern = $("#pattern");
            var $addOptionButton = $("#addOptionButton");
            var $optionTable = $("#optionTable");


            // 类型
            $type.change(function() {
                if ($type.val() == "select" || $type.val() == "checkbox") {
                    $pattern.prop("disabled", true).closest("tr").hide();
                    $addOptionButton.closest("tr").show();
                    $optionTable.show().find(":input").prop("disabled", false);
                } else {
                    $pattern.prop("disabled", false).closest("tr").show();
                    $addOptionButton.closest("tr").hide();
                    $optionTable.hide().find(":input").prop("disabled", true);
                }
            });

            // 增加可选项
            $addOptionButton.click(function() {
                $optionTable.append(
                    '<tr> <td> <input type="text" name="options" class="text options" maxlength="200" \/> <\/td> <td> <a href="javascript:;" class="remove">[删除]<\/a> <\/td> <\/tr>'		);
            });

            // 删除可选项
            $optionTable.on("click", "a.remove", function() {
                if ($optionTable.find("tr").size() <= 2) {
                    $.message("warn", "删除失败，必须至少保留一项");
                    return false;
                }
                $(this).closest("tr").remove();
            });

            $.validator.addClassRules({
                options: {
                    required: true
                }
            });

            // 表单验证
            $inputForm.validate({
                rules: {
                    type: "required",
                    name: "required",
                    pattern: {
                        remote: {
                            url: "",
                            cache: false
                        }
                    },
                    order: "digits"
                },
                messages: {
                    pattern: {
                        remote: "语法错误"
                    }
                }
            });

        });


        var addVue ='';
        addVue = new Vue({
            el:'#inputForm',
            data:{
                businessattribute:{
                    name:'',
                    type:'',
                    pattern:'',
                    orders:'',
                    isenabled:'',
                    isrequired:'',
                    options:''

                }
            }
        })
        addBusinessAttribute = function () {
            $.ajax({
                url:'../../businessattribute/addBusinessattribute.do',
                data:addVue.businessattribute,
                type:'post',
                dataType:'json',
                success:function (data) {
                    alert(data.message);
                    location.href = "list.html"
                },
                error:function () {
                    alert("新增失败")
                }
            })

        }
    </script>
</head>
<body>
<div class="breadcrumb">
    <a href="../../admin/index.html">首页</a> &raquo; 添加商家注册项
</div>
<form id="inputForm" action="save" method="post">
    <table class="input">
        <tr>
            <th>
                <span class="requiredField">*</span>名称:
            </th>
            <td>
                <input type="text" name="name" class="text" maxlength="200" v-model="businessattribute.name"/>
            </td>
        </tr>
        <tr>
            <th>
                类型:
            </th>
            <td>
                <select id="type" name="type" v-model="businessattribute.type">
                    <option value="text">文本</option>
                    <option value="select">单选项</option>
                    <option value="checkbox">多选项</option>
                    <option value="image">图片</option>
                    <option value="date">日期</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                配比:
            </th>
            <td>
                <input type="text" id="pattern" name="pattern" class="text" maxlength="200" v-model="businessattribute.pattern"/>
            </td>
        </tr>
        <tr>
            <th>
                排序:
            </th>
            <td>
                <input type="text" name="orders" class="text" maxlength="9" v-model="businessattribute.orders"/>
            </td>
        </tr>
        <tr>
            <th>
                设置:
            </th>
            <td>
                <label>
                    <input type="checkbox" name="isenabled" value="true" checked="checked" v-model="businessattribute.isenabled" />是否启用
                    <input type="hidden" name="isenabled" value="false" v-model="businessattribute.isenabled"/>
                </label>
                <label>
                    <input type="checkbox" name="isrequired" value="true" v-model="businessattribute.isrequired"/>是否必填
                    <input type="hidden" name="isrequired" value="false" v-model="businessattribute.isrequired"/>
                </label>
            </td>
        </tr>
        <tr class="hidden">
            <th>
                &nbsp;
            </th>
            <td>
                <a href="javascript:;" id="addOptionButton" class="button">增加可选项</a>
            </td>
        </tr>
        <tr>
            <th>
                &nbsp;
            </th>
            <td>
                <table id="optionTable" class="item hidden">
                    <tr>
                        <th>
                            可选项
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" name="options" class="text options" maxlength="200" disabled="disabled" v-model="businessattribute.options"/>
                        </td>
                        <td>
                            <a href="javascript:;" class="remove">[删除]</a>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <th>
                &nbsp;
            </th>
            <td>
                <input type="submit" class="button" value="确 定" onclick="addBusinessAttribute()"/>
                <input type="button" class="button" value="返 回" onclick="history.back(); return false;" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>