
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>编辑商家注册项 - Powered By SHOP++</title>
    <meta name="author" content="SHOP++ Team" />
    <meta name="copyright" content="SHOP++" />
    <link href="../../resources/admin/css/common.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../resources/admin/js/jquery.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/jquery.tools.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/jquery.validate.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/webuploader.js"></script>
    <script type="text/javascript" src="../../resources/admin/ueditor/ueditor.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/input.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/vue.min.js"></script>
    <script type="text/javascript">
        var editList;
        $().ready(function() {
            var id = window.location.href.split("?")[1].split("=")[1];
            $.ajax({
                type: "post",
                url: "../../businessattribute/searchBusinessattributeById.do",
                data:{
                    "id":id,
                },
                dataType: "json",
                success: function (result) {
                    editList = new Vue({
                        el: '#editList',
                        data: {
                            businessAttribute:{
                                id:"",
                                name:"",
                                pattern:"",
                                orders:"",
                                isenabled:"",
                                isrequired:""
                            }
                        }
                    })
                    editList.businessAttribute.id = result.id;
                    editList.businessAttribute.name = result.name;
                    editList.businessAttribute.pattern = result.pattern;
                    editList.businessAttribute.orders = result.orders;
                    editList.businessAttribute.isenabled = result.isenabled;
                    editList.businessAttribute.isrequired = result.isrequired;
                },
                error: function () {
                    alert("系统错误，请联系管理员！");
                }
            })
            var $inputForm = $("#inputForm");
            // 表单验证
            $inputForm.validate({
                rules: {
                    name: "required",
                    timeout: {
                        integer: true,
                        min: 1
                    },
                    icon: {
                        pattern: /^(http:\/\/|https:\/\/|\/).*$/i
                    },
                    order: "digits"
                }
            });

        });

        function editPaymentMethod() {
            $.ajax({
                type: "post",
                url: "../../businessattribute/updateBusinessattribute.do",
                data: editList.businessAttribute,
                dataType: "json",
                success: function (result) {
                    if(result){
                        location.href="list.html";
                    }
                }
            })
        }
    </script>
</head>
<body>
<div class="breadcrumb">
    <a href="../../admin/index.html">首页</a> &raquo; 编辑商家注册项
</div>
<form id="inputForm">
    <input type="hidden" name="id" v-model="businessAttribute.id"/>
    <table class="input" id="editList">
        <tr>
            <th>
                类型:
            </th>
            <td>
                营业执照
            </td>
        </tr>
        <tr>
            <th>
                <span class="requiredField">*</span>名称:
            </th>
            <td>
                <input type="text" name="name" class="text" value="营业执照" maxlength="200" v-model="businessAttribute.name"/>
            </td>
        </tr>
        <tr>
            <th>
                配比:
            </th>
            <td>
                <input type="text" id="pattern" name="pattern" class="text" value="" maxlength="200" v-model="businessAttribute.pattern"/>
            </td>
        </tr>
        <tr>
            <th>
                排序:
            </th>
            <td>
                <input type="text" name="orders" class="text" value="2" maxlength="9" v-model="businessAttribute.orders" />
            </td>
        </tr>
        <tr>
            <th>
                设置:
            </th>
            <td>
                <label>
                    <input type="checkbox" name="isenabled" value="true" checked="checked" v-model="businessAttribute.isenabled"/>是否启用
                    <input type="hidden" name="isenabled" value="false" v-model="businessAttribute.isenabled"/>
                </label>
                <label>
                    <input type="checkbox" name="isrequired" value="true" v-model="businessAttribute.isrequired"/>是否必填
                    <input type="hidden" name="isrequired" value="false" v-model="businessAttribute.isrequired"/>
                </label>
            </td>
        </tr>
        <tr>
            <th>
                &nbsp;
            </th>
            <td>
                <input type="submit" class="button" value="确 定" onclick="editPaymentMethod()"/>
                <input type="button" class="button" value="返 回" onclick="history.back(); return false;" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>