
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>商家注册项列表 - Powered By SHOP++</title>
    <meta name="author" content="SHOP++ Team" />
    <meta name="copyright" content="SHOP++" />
    <link href="../../resources/business/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../resources/business/js/jquery.js"></script>
    <script type="text/javascript" src="../../resources/business/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/vue.min.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/pager.js"></script>
</head>
<body>
<div class="breadcrumb">
    <a href="../../admin/index.jsp">首页</a> &raquo; 商家注册项列表 <span>(共13条记录)</span>
</div>
<div class="box-body">
    <div class="table-box" id="content_grid">
        <div class="pull-left">
            <div class="form-group form-inline">
                <div class="btn-group">
                   <!-- <button onclick="showModal()" type="button" class="btn btn-default" title="添加"><i class="fa fa-file-o"></i> 添加</button>-->
                    <button onclick="delProduct()" type="button" class="btn btn-default" title="删除"><i class="fa fa-trash-o"></i> 删除</button>
                    <button type="button" class="btn btn-default" title="刷新" onclick="window.location.reload();"><i class="fa fa-refresh"></i> 刷新</button>
                    <a href="../../businessattribute/exportStockList.do" class="btn btn-default"><span class="glyphicon glyphicon-share-alt">&nbsp;</span>导出</a>
                </div>
                <div class="box-tools pull-right">
                    <div class="has-feedback">
                        名称：<input type="text" id="name" name="name"> <button onclick="searchByPage()" type="button" class="btn btn-default" title="查询"><i class="fa fa-trash-o"></i>查询</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-tools pull-right">
            <div class="has-feedback">
            </div>
        </div>
        <table id="productList" class="table table-bordered table-striped table-hover dataTable">
            <thead>
            <tr>
                <th class="" style="padding-right:0px">
                    <input id="selall" type="checkbox" class="icheckbox_square-blue">
                </th>
                <th class="sorting">名称</th>
                <th class="sorting">类型</th>
                <th class="sorting">是否必填</th>
                <th class="sorting">是否启用</th>
                <th class="sorting">排序</th>
                <th class="text-center">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="entity in productList">
                <td><input  type="checkbox" id="selectAll"></td>
                <td>{{entity.name}}</td>
                <td>{{entity.name}}</td>
                <td>
                    <span v-if="entity.isrequired == 1" style="color:limegreen"  >是</span>
                    <span v-else style="color:red">否</span>
                </td>
                <td>
                    <span v-if="entity.isenabled == 1"  class="glyphicon glyphicon-ok" style="color:limegreen" ></span>
                    <span v-else class="glyphicon glyphicon-remove" style="color:red"></span>
                </td>
                <td>{{entity.orders}}</td>
                <td class="text-center">
                    <a @click="updateBusinessattribute(entity.id)">[编辑]</a>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="app">
            <div class="container">
                <pagination :total="total" :current.sync="current" @pagechange="pagechange"></pagination>
            </div>
        </div>
    </div>
</div>
<template id="template_paginations">
    <nav>
        <ul class="pagination">
            <li :class="{'disabled': current == 1}"><a href="javascript:searchByPage();" @click="setCurrent(1)"> 首页 </a></li>
            <li :class="{'disabled': current == 1}"><a href="javascript:searchByPage();" @click="setCurrent(current - 1)"> 上一页 </a></li>
            <li >
                <select id="tests" @change="setDisplay()" class="btn btn-default dropdown-toggle">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                </select>
            </li>
            <li v-for="p in grouplist" :class="{'active': current == p.val}"><a href="javascript:searchByPage();" @click="setCurrent(p.val)"> {{ p.text }} </a></li>
            <li :class="{'disabled': current == page}"><a href="javascript:searchByPage();" @click="setCurrent(current + 1)"> 下一页</a></li>
            <li :class="{'disabled': current == page}"><a href="javascript:searchByPage();" @click="setCurrent(page)"> 尾页 </a></li>
        </ul>
        <ul class="pagination pull-right">
            <li><span> 共 {{total}}  条数据 </span></li>
            <li><span> 每页显示 {{display}}  条数据 </span></li>
            <li><span> 共 {{page}} 页 </span></li>
            <li><span > 当前第 {{current}} 页 </span></li>
            <li><span id="current"  name="current" style="display: none">{{current}}</span></li>
            <li><span id="display"  name="display" style="display: none">{{display}}</span></li>
        </ul>
    </nav>
</template>
</body>
<script>
    var productListVue;

    $(function(){
        searchProduct();

    })
    function searchProduct() {
        $.ajax({
            type: "post",
            url: "../../businessattribute/searchBusinessattribute.do",
            data:"",
            dataType: "json",
            success: function (result) {
                console.info(result)
                productListVue = new Vue({
                    el: '#productList',
                    data: {
                        productList: result.rows
                    }
                })
                new Vue({
                    el: '#app',
                    data: {
                        total: result.total,     // 记录总条数
                        display: 5,   // 每页显示条数
                        current: 1     // 当前第n页 ， 也可以 watch current 的变化
                    },
                    methods: {
                        pagechange: function (p) {
                            this.current = p;// 页码改变event ， p 为新的 current
                        }
                    }
                });
            },
            error: function () {
                alert("系统错误，请联系管理员！");
            }
        })
    }

    function searchByPage(page,rows) {
        if(page == null){
            page = document.getElementById("current").innerHTML;
        }
        if(rows == null){
            rows = document.getElementById("display").innerHTML;
        }
        $.ajax({
            type: "post",
            url: "../../businessattribute/searchBusinessattribute.do",
            data:{
                "page":page,
                "rows":rows,
                "name" : $("#name").val()
            },
            dataType: "json",
            success: function (result) {
                productListVue.productList = result.rows;
            },
            error: function () {
                alert("系统错误，请联系管理员！");
            }
        })
    }
    function updateBusinessattribute(id) {
        location.href="edit.html?id="+id;
    }
    function showModal() {
        location.href="add.html";
    }
    function exportStockList() {
        $.ajax({
            type: "post",
            url: "../../businessattribute/exportStockList.do",
            data:{
            },
            dataType: "json",
            success: function () {

            }
        })
    }
</script>
</html>