
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>编辑支付方式 - Powered By SHOP++</title>
    <meta name="author" content="SHOP++ Team" />
    <meta name="copyright" content="SHOP++" />
    <link href="../../resources/admin/css/common.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../resources/admin/js/jquery.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/jquery.tools.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/jquery.validate.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/webuploader.js"></script>
    <script type="text/javascript" src="../../resources/admin/ueditor/ueditor.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/input.js"></script>
    <script type="text/javascript" src="../../resources/admin/js/vue.min.js"></script>
    <script type="text/javascript">
        var editList;
        $().ready(function() {
            var id = window.location.href.split("?")[1].split("=")[1];
            $.ajax({
                type: "post",
                url: "../../paymentmethod/searchPaymentMethodById.do",
                data:{
                    "id":id,
                },
                dataType: "json",
                success: function (result) {
                    editList = new Vue({
                        el: '#editList',
                        data: {
                            paymentMethod:{
                                id:"",
                                name:"",
                                type:"",
                                method:"",
                                timeout:"",
                                icon:"",
                                description:"",
                                orders:"",
                                content:""
                            }
                        }
                    })
                    editList.paymentMethod.id = result.id;
                    editList.paymentMethod.name = result.name;
                    editList.paymentMethod.type = result.type;
                    editList.paymentMethod.method = result.method;
                    editList.paymentMethod.timeout = result.timeout;
                    editList.paymentMethod.icon = result.icon;
                    editList.paymentMethod.description = result.description;
                    editList.paymentMethod.orders = result.orders;
                },
                error: function () {
                    alert("系统错误，请联系管理员！");
                }
            })
            var $inputForm = $("#inputForm");
            // 表单验证
            $inputForm.validate({
                rules: {
                    name: "required",
                    timeout: {
                        integer: true,
                        min: 1
                    },
                    icon: {
                        pattern: /^(http:\/\/|https:\/\/|\/).*$/i
                    },
                    order: "digits"
                }
            });

        });
        
        function editPaymentMethod() {
            $.ajax({
                type: "post",
                url: "../../paymentmethod/updatePaymentById.do",
                data: editList.paymentMethod,
                dataType: "json",
                success: function (result) {
                    if(result){
                        location.href="list.html";
                    }
                }
            })
        }
    </script>
</head>
<body>
<div class="breadcrumb">
    <a href="../../admin/index.html">首页</a> &raquo; 编辑支付方式
</div>
<form id="inputForm">
    <input type="hidden" name="id" v-model="paymentMethod.id"/>
    <table class="input" id="editList">
        <tr>
            <th>
                <span class="requiredField">*</span>名称:
            </th>
            <td>
                <input type="text" name="name" class="text" maxlength="200" v-model="paymentMethod.name"/>
            </td>
        </tr>
        <tr>
            <th>
                类型:
            </th>
            <td>
                <select name="type" v-model="paymentMethod.type">
                    <option value="0">款到发货</option>
                    <option value="1">货到付款</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                方式:
            </th>
            <td>
                <select name="method" v-model="paymentMethod.method">
                    <option value="0">在线支付</option>
                    <option value="1">线下支付</option>
                </select>
            </td>
        </tr>
        <tr>
            <th>
                超时时间:
            </th>
            <td>
                <input type="text" name="timeout" class="text" v-model="paymentMethod.timeout" maxlength="9" title="单位：分钟，留空表示永久有效" />
            </td>
        </tr>
        <tr>
            <th>
                介绍:
            </th>
            <td>
                <input type="text" name="description" class="text" v-model="paymentMethod.description" maxlength="200" />
            </td>
        </tr>
        <tr>
            <th>
                排序:
            </th>
            <td>
                <input type="text" name="order" class="text" v-model="paymentMethod.orders" maxlength="9" />
            </td>
        </tr>
        <tr>
            <th>
                &nbsp;
            </th>
            <td>
                <input type="submit" class="button" onclick="editPaymentMethod()" value="确 定" />
                <input type="button" class="button" value="返 回" onclick="history.back(); return false;" />
            </td>
        </tr>
    </table>
</form>
</body>
</html>